name: 'coverage'
on:
    pull_request:
        branches:
            - master
            - main
jobs:
    coverage:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npx ci
            - name: Tests on ${{ matrix.node-version }}
              uses: artiomtr/jest-coverage-report-action@v2.0-rc.6
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  package-manager: yarn
                  test-script: yarn run test:coverage:jest      
              env:
                CI: true
